<h1>Albums</h1>
</br>
    <table class="table table-striped table-condensed">
    <tr>
      <th>Title</th>
      <th>User Name</th>
      <th></th>
      <th></th>
    </tr>

  <% @albums.each do |album| %>
    <tr>
      <td><%= link_to album.title, album %></td>
      <td><%= link_to album.user.name, album.user %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
      <td><%= link_to 'Delete Album', album, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Album', new_album_path %>
